<li><a href="" data-name="bluegrass">Bluegrass</a></li>
<li><a href="" data-name="christmas">Christmas</a></li>
<li><a href="" data-name="classical">Classical</a></li>
<li><a href="" data-name="electronica">Electronica</a></li>
<li><a href="" data-name="funk">Funk</a></li>
<li><a href="" data-name="indie">Indie</a></li>
<li><a href="" data-name="jazz">Jazz</a></li>
<li><a href="" data-name="r&b">R&amp;B</a></li>
<li><a href="" data-name="reggae">Reggae</a></li>
<li><a href="" data-name="rock">Rock</a></li>
<li><a href="" data-name="showtunes">Showtunes</a></li>