<li><button data-name="bluegrass">Bluegrass</button></li>
<li><button data-name="christmas">Christmas</button></li>
<li><button data-name="classical">Classical</button></li>
<li><button data-name="electronica">Electronica</button></li>
<li><button data-name="funk">Funk</button></li>
<li><button data-name="indie">Indie</button></li>
<li><button data-name="jazz">Jazz</button></li>
<li><button data-name="r&b">R&amp;B</button></li>
<li><button data-name="reggae">Reggae</button></li>
<li><button data-name="rock">Rock</button></li>
<li><button data-name="showtunes">Showtunes</button></li>